# Node.js dependencies
node_modules/
npm-debug.log*

# Build output
dist/
build/
out/

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.next/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log

# Misc
*.bak
*.tmp